*{
    font-family: 'Montserrat Regular'
                ,Helvetica, Arial, Verdana
                , Tahoma, sans-serif;
}

.navbar{
    position:absolute;
    width: 100vw;
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('../../fonts/Montserrat-Regular.woff') format('woff');
}